*{
    font-family: "Poppins", sans-serif;
}
#sortList{
    margin-right: 20%;
}

#newArrivals{
    font-size: 100px;
}

#categoryTXT{
   margin-left: 3%;
}

#hr3{
    width: 108.875rem;
    margin: 5px auto;
}

#productCard{
    width: 20.125rem;
    height: 27.5rem;
    background-color: #DFDFDF;
}

#shopProduct-image{
    max-width: 16.188rem;
    height: 18.75rem;
    object-fit: contain;
}

.product-bg{
    width: 18.75rem;
    max-height: 21.875rem;
    min-height: 15rem;
    background-color: #ffffff;
}

#arrowBtn{
    width: 3.125rem;
    height: 3.125rem;
}



